<main class="main">
  <section>
    <h2>
      Confirm your appointment with
      <strong>{{ appointment?.doctorName }}</strong>
    </h2>

    <card-wrapper *ngIf="appointment" class="current-appointment-card">
      <div class="current-appointment">
        <mat-icon fontIcon="calendar_month"></mat-icon>
        <p class="paragraph">{{ formattedDate() }}</p>
      </div>
    </card-wrapper>
  </section>

  <section class="unexpected-situation">
    <h2>
      <strong>You have an unexpected situation?</strong>
    </h2>
    <p class="paragraph">You can change the appointment for when it suits you better</p>
  </section>

  <card-wrapper *ngIf="weekSlotsError" variant="error">
    {{ weekSlotsError.message }}
  </card-wrapper>

  <card-wrapper
    *ngIf="weekSlots"
    expandFrom="500px"
  >
    <div class="calendar">
      <doc-button
        icon="chevron_left"
        (onClick)="getPrevSchedule()"
      />

      <day-schedule
        *ngFor="let item of weekSlots | keyvalue"
        class="day"
        [date]="item.key"
        [daySchedule]="item.value"
        (onClick)="onClickSlot($event)"
      ></day-schedule>

      <doc-button
        icon="chevron_right"
        (onClick)="getNextSchedule()"
      />
    </div>

    <p see-more> See more hours </p>

    <p see-less>
      See less hours
    </p>
  </card-wrapper>

  <book-slot-modal
    [open]="openModal"
    (onClose)="openModal = false"
    (onSave)="saveForm($event)"
  ></book-slot-modal>

</main>


<router-outlet />
