.card-wrapper {
  background: var(--color-background);
  border-radius: var(--radius-md);
  padding: 16px;
  position: relative;
  transition: max-height 500ms ease-in-out;
  overflow: hidden;
}

.card-wrapper.expandable {
  overflow: hidden;
}

.card-wrapper.expanded .icon {
  transform: rotateZ(180deg);
}

.see-more {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 0 32px;
  background: var(--color-background);
  color: var(--color-color-primary);
  border: none;
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.see-more .icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 200ms ease-in;
}
